.navbar{
    i{
        font-size: 34px;
        position: relative;
    }
    .countItems{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        color: white;
        text-align: center;
        line-height: 18px;
        position: absolute;
        background-color: black;
        top: 10px;
        right: 0;
    }
}
.sidebar{
    button{
        width: 50px;
    }
}